/* 共用 CSS 區 */
.title{
    color: blueviolet; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(255, 219, 19);

    /* 1rem == 16px */
    font-size: 2rem; 

    /* 
    block -> 佔領整列
    inline -> 只佔領物件的真實寬度
    inline-block -> 指定佔領的特定寬度
    */
    display: inline-block; 
    width: 600px;
    margin: 10px 20px;
    padding: 6px;
    border: 1px solid rgb(214, 131, 131);
    border-radius: 10px;
}

.main-title{
    color: white;
    background-color: rgb(0, 33, 48);
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    padding: 6px;

    border-radius: 6px;
}

body{
    background-color: rgb(246, 255, 215);
    font-family: "標楷體",'Arial Narrow Bold', sans-serif;
    text-align: center;
}
